<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/categories">
                <div class="card-body text-center shadow-effect">
                    <h1 class="mt-3 text-theme-primay"><i class="fa fa-list-alt" aria-hidden="true"></i></h1>
                    <h2 class="text-theme-primay"> Category </h2>
                    <p> Manage Category Details Here </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/posts">
                <div class="card-body text-center shadow-effect">
                    <h1 class="mt-3 text-theme-primay"><i class="fa fa-file-image" aria-hidden="true"></i></h1>
                    <h2 class="text-theme-primay"> Posts </h2>
                    <p> Manage Post Details Here </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/subscribers">
                <div class="card-body text-center shadow-effect">
                    <h1 class="mt-3 text-theme-primay"><i class="fas fa-users" aria-hidden="true"></i></h1>
                    <h2 class="text-theme-primay"> Subscribers </h2>
                    <p> Manage Your Subscriber List Here </p>
                </div>
            </div>
        </div>
    </div>
</div>
