.featured-section{
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 130px;

    background-color:#ffc700; ;
}

.color1{
    color: #4709f6;
}

.color2{
    color: #4709f6;
}

.color3{
    color: #4709f6;
}