<header class=" navbar navbar-expand-lg fixed-top bg-white shadow-effect">

    <div class="container justify-content-center ml-5">
        <a style="text-decoration: none" class="site-logo" routerLink="/"> MY-BLOG </a>
    </div>

    <div class="container justify-content-center" *ngIf="isLoggedIn$ | async">
        <a style="text-decoration: none" href="#" class="mr-3"> {{userEmail}} </a>
        <button class="btn bnt-sm btn-info bg-secondary-theme text-theme-primay" (click)="onLogout()"> Logout </button>
    </div>

</header>
