<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-theme">
                <div class="card-body text-center">
                   <h3 class="center"> All Blog Posts </h3>
                   <p class="text-dark"> Manage your  blog posts </p>

                   <button class="btn btn-info" routerLink="/posts/new"> Add New Post </button>
                   <button class="btn btn-info ml-3" routerLink="/"> Back To Dashboard </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-4 ">
            <div class="card shadow-effect">
                <div class="card-body table-info">
                    <table class="table row-border hover itemlist" >
                        <thead>
                            <tr>
                                <th> № </th>
                                <th> Post Image </th>
                                <th> Title </th>
                                <th> Excerpt </th>
                                <th> Category </th>
                                <th> Date </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of postArray; let i = index">
                               <td> {{ i + 1 }} </td>
                               <td ><img src="{{post.data.postImgPath}}" class="img img-fluid"/></td>
                               <td > {{post.data.title}} </td>
                               <td > {{post.data.excerpt}} </td>
                               <td>{{post.data.category.category}}</td>
                               <td>{{post.data.createdAt.toMillis() | date }}</td>
                               <td>
                                   <button class="btn btn-sm btn-warning" routerLink="/posts/new" [queryParams]="{id:post.id}">Edit</button>
                                   <button class="btn btn-sm btn-primary ml-3" (click)="onDelete(post.data.postImgPath, post.id)">Delete</button>

                                   <button *ngIf="!post.data.isFeatured" class="btn btn-sm btn-success mt-3" (click)="onFeatured(post.id, true)">Mark as Featured</button>
                                   <button *ngIf="post.data.isFeatured" class="btn btn-sm btn-secondary mt-3" (click)="onFeatured(post.id, false)">Remove Featured</button>
                               </td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
